.App {
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 20px; */
  /* margin: 1em; */
}

.wrap {
  display: flex;
}
.box {
  background-color: rgba(51, 204, 255, 0.5);
  width: 100px;
  height: 100px;
  /* margin: 100px 50px; */
  border-radius: 50% 5% 50% 50%;
  transition: all 2s;
  transition-timing-function: ease-in-out;
}

.b1 {
  background-color: pink;
}
.b2 {
  background-color: rebeccapurple;
}
